<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new student</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="components::menu"></div>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h4 class="display-5 fw-bold">Add Teacher</h4>
        <div th:if="${messageType} == 'error'" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
        <form action="#" th:action="@{/student/add}" th:object="${student}" method="post">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" th:field="*{id}" id="id" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" th:field="*{firstName}" id="firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" th:field="*{lastName}" id="lastName" class="form-control" required>
            </div>
            <div class="form-group">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description" class="form-control" required>

                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-select" th:field="*{city.id}" id="city" required>
                        <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="school">School</label>
                    <select class="form-select" th:field="*{school}" id="school" required>
                        <option th:each="school: ${schools}" th:value="${school}" th:text="${school}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="specialization">Specialization</label>
                    <select class="form-select" th:field="*{speciliazation}" id="specialization" required>
                        <option th:each="speciliazation: ${speciliazations}" th:value="${speciliazation}" th:text="${speciliazation}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="joinDate">Join date</label>
                    <input type="date" class="form-control" id="joinDate" th:field="*{joinDate}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="active" th:field="*{active}">
                </div>
                <br/><br/>
                <button type="submit" class="btn btn-success">Add</button>
                <a th:href="@{/student}" class="btn btn-warning">Cancel</a>
        </form>
    </div>
</div>
<div th:insert="components::scripts"></div>
<script type="text/javascript">
    $(document).ready(function (){
        document.getElementById("studentMenu").classList.add("active");
    });
</script>
</body>
</html>