<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List students</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="components::menu"></div>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h4 class="display-5 fw-bold">Students list</h4>
        <a th:href="@{/student/add}" class="btn btn-primary">Add new student</a>
        <br/><br/>
        <div th:if="${messageType} == 'success'" class="alert alert-success" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${messageType} == 'error'" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div class="container-fluid" th:switch="${students.size() > 0}">
            <h3 th:case="false">No students available!</h3>
            <table th:case="true" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Description</th>
                    <th scope="col">City</th>
                    <th scope="col">School</th>
                    <th scope="col">Speciliazation</th>
                    <th scope="col">Join date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <th scope="row" th:text="${student.id}"></th>
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.description}"></td>
                    <td th:text="${student.city.name}"></td>
                    <td th:text="${student.school}"></td>
                    <td th:text="${student.speciliazation}"></td>
                    <td th:text="${student.joinDate}"></td>
                    <td>
                        <a th:if="${student.active == true}" th:href="@{/student/update/{id}(id=${student.id})}"
                           class="btn btn-primary">Update</a>
                        <a th:if="${student.active == true}" th:href="@{/student/delete/{id}(id=${student.id})}"
                           class="btn btn-danger">Delete</a>
                        <a th:if="${student.active == false}" th:href="@{/student/restore/{id}(id=${student.id})}" class="btn btn-warning">Restore</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="components::scripts"></div>
<script type="text/javascript">
    $(document).ready(function (){
        document.getElementById("studentMenu").classList.add("active");
    });
</script>

</body>
</html>